[2014-04-15 01:02] orbisvicis opened #1 "Morphy vs PorterStemmer"
I propose using Morphy instead of PorterStemmer
- More accurate (on the words I tested). I have no evidence to back this up, especially since I can't find any specific details of its implementation
- Designed to work specifically with wordnet

It receives an optional POS, which can easily be derived from nltk's `pos_tag` tagger on the context sentence. I'm not sure how it works without the POS, es

[2014-04-15 01:24] orbisvicis opened #2 "Use NLTK tokenizer"
Replace `"".split()` with `nltk.word_tokenizer()`

[2014-04-15 01:33] orbisvicis opened #3 "Return Synset Ranking"
This is an amazing library, not only because it agglomerates many disparate methods, but because it's easy to read. For someone without any NLP experience its a great way to learn more about WSD algorithms. In any case I like having all these different methods in a single library. However my application needs ranked synsets, so it would be great if pywsd would return the ranking, and leaving the b

[2014-04-15 01:34] orbisvicis opened #4 "Synset Pre-Processing"
Since a contextual sentence is provided, it might be a good idea to run a POS tagger and filter only senses with matching POS before running any WSD algorithms.

[2014-04-15 01:45] orbisvicis opened #5 "[Question] Lesk vs Max Similarity"
Have there been any studies quantifying the most accurate WSD algorithm over generalized content (any genre)? I've ruled out any information-content approaches since they most likely only work well on input similar to the corpus on which they were trained. Therefore I'd be interested in a comparison between any of the lesk algorithms and any of the max-path-similarity algorithms.

For a general th

[2014-04-15 06:30] alvations opened #6 "NLTK changed Synset properties to methods"
TODO: change the NLTK Synset properties to methods appropriately because of http://goo.gl/hO79KO

[2014-04-15 08:34] #6 closed, assigned to alvations

[2014-04-15 08:56] #3 closed, assigned to nobody

[2014-04-15 16:06] #5 closed, assigned to nobody

[2014-05-03 19:19] tomagranate opened #7 "How to cite pywsd"
I have written a thesis paper about a computer system in which I used pywsd. I would like to cite the usage of it in my paper, and as of now I am citing it like this:

Alvations (2014) Pywsd. GitHub Repository. Retrieved
    20 April, 2014, from https://github.com/alvations/pywsd

Now this is no good because I am citing your user name. Instead I would like to cite your actual name. It might be a g

[2014-05-03 19:54] #7 closed, assigned to nobody

[2014-05-03 19:55] #1 closed, assigned to nobody

[2014-05-29 00:46] yannis1962 opened #8 "Problem with adapted_lesk"
Hi, when I run adapted_lesk on a given sentence and word, I get an IndexError. This happens very often in my corpus and this is a disaster for my project. Could you please tell me what to do to avoid this error? Thanks in advance!
Here are two examples:

   answer = adapted_lesk("Because of the attacks, in which at least 11 vehicles were gutted by flames, transportation companies suspended all car

[2014-05-29 12:00] #4 closed, assigned to nobody

[2014-06-20 22:30] #8 closed, assigned to alvations

[2014-07-26 16:47] alvations opened #9 "Code-sprint for supervised methods and semeval data"
Code-sprint from 28th Sept - 2nd Oct 2014
Scheduled release with semeval data + supervised methods: 3rd Oct 2014
# TODO:
- reformat semeval 2007 course-grain all-words data
- function for wn2.1 to wn3.x mappings
- supverised methods with and without `sklearn`
- emulate IMS system + SVM wsd

[2014-08-09 02:43] andrieski opened #10 "Just comparing words by themeslves"
Hi, I'm super new to github and nltk, and your project pywsd seemed like the only one that could return the lesk measure between two words, but it looks like it's only meant for comparing words to sentences? Is there a way to compare just two words and get their similarity score or does your program just not do that? If not, is there anything for python that can? Sorry, I just didn't know of any o

[2014-08-10 06:15] #10 closed, assigned to nobody

[2014-08-23 02:44] chrisspen opened #11 "Setup.py"
Could you please add a setup.py so this can be easily installed using pip?

[2014-09-02 09:10] #11 closed, assigned to alvations

[2014-11-04 16:36] alvations opened #12 "Lesk module giving errors"
1. The previous lesk version was fine before changing NLTK's `Synset.definition` to a function (i.e. `Synset.definition()`).
2. Also the ranked synsets were giving index errors due to returning `None`.

[code]

[2014-11-06 11:54] #12 closed, assigned to alvations

[2015-01-04 22:31] alvations commented on #9
the home-made version of SVM is breaking, maybe it's time to consider scikit-learn instead =(

[2015-01-05 00:39] alvations commented on #9
@All, sorry for taking sooo long to produce the SVM, I was looking for a minimal solution.

Alright merlin machine learning library is up!!!! Let's get on track with SVM WSD...

[2015-01-14 20:51] alvations opened #13 "Automate all-words WSD"
Now `pywsd` is doing WSD for each word given a context sentence. To do all-words WSD, one has to do something like `test_allwords_wsd.py`.

Is it possible to automate this process such that users can do:

[code]

[2015-01-14 22:36] alvations commented on #13
Done. Now it's `pywsd.disambiguate()`.

[2015-01-14 22:36] #13 closed

[2015-01-15 00:08] alvations opened #14 "Lemma vs Surface word vs Stems in all-words"
Buggy POS reliance.

When extracting signatures, pywsd lemmatizes with POS knowledge when counting overlap, POS was not consider. This happens when we start to rely on POS for lemmatization because of http://stackoverflow.com/questions/27659179/porter-stemming-of-fried/27660340#27660340

For individual WSD it's fine since we can specify POS from the start and that will resolve the issue. The main

[2015-01-15 00:43] alvations commented on #14
fixed with https://github.com/alvations/pywsd/commit/d64142dcc08e5fec390173ca6fa0f34c44ec7132

[2015-01-15 00:43] #14 closed

[2015-01-15 01:10] alvations opened #15 "Lesk Overlap not doing well."
This is more of a performance than a theoretical issue. In theory, it's implemented as they are presented with their respective paper, simple overlaps.

Going after the state-of-art will mean that the implementation is not as represented in the paper. Supervised learning part is going to be a long short since feature extraction is another headache.

Possibly, improving the overlaps should be a bet

[2015-01-15 09:50] alvations opened #16 "Consistency checks on `disambiguate()` vs individually calling `lesk`"
There's a need to check through whether disambiguate is doing the same thing as calling lesk individually.

[2015-01-15 10:26] alvations commented on #16
done =)

[2015-01-15 10:26] #16 closed

[2015-01-17 22:48] alvations opened #17 "pyWSD documentations"
The `test_*.py` are nice examples on how to use `pywsd` but it's time to document the toolkit.

[2015-01-18 19:26] alvations opened #18 "Evaluation module with SemCor and SemEval-2007"
Let's test the different algorithm on these corpora.

[2015-01-19 11:44] alvations commented on #2
`pywsd.disambiguate()` function uses `nltk.word_tokenize()` and `nltk.pos_tag()` by default.

`pywsd.utils.lemmatize` and `pywsd.utils.lemmatize_sentence` allows for  custom tokenizer and postagger that gives the same output type as nltk's.

[2015-01-19 11:44] #2 closed

[2015-02-10 17:43] shehzaadzd opened #19 "adapted_lesk and cosine_lesk breaks"
context_sentence = lemmatize_sentence(sentence)
NameError: global name 'sentence' is not defined

Check line 196 and 218 in Lesk.py

[2015-02-10 17:48] alvations commented on #19
Thank you for reporting the bug, kudos!!! it's fixed now.

[2015-02-10 17:52] #19 closed

[2015-06-30 11:40] hwsamuel opened #22 "IndexError: list index out of range"
I get the following error, possibly because no synset exists.
[code]

[2015-07-01 15:42] alvations commented on #22
@hwsamuel , did you get it from using the all-words disambiguation? Which function did you call?

Meanwhile, I'll check through all functions that uses `compare_overlaps()` and fix it asap.

[2015-07-02 06:38] hwsamuel commented on #22
I used the `simple_lesk` function, no errors with the `disambiguate` function

[2015-07-07 09:16] alvations commented on #22
@hwsamuel , could I check with you about which word is causing the error?

I'm wondering whether is it that

 1. there is no synset for the word? or
 2. there is a synset but the ranking of the synset somehow turns into an empty list?

I have been checking but it seems like the first scenario for my corpora.

[2015-07-07 09:45] alvations commented on #22
I have added a check to all Lesk-like functions to return `None` if word isn't in WordNet.

Also, user can choose to check whether synset exist for a word. Or use a the pywsd word has synset function in `pywsd.util.has_synset()`, e.g.

[code]

[2015-07-07 09:49] alvations commented on #22
@hwsamuel does it work for your dataset now?

[2015-07-08 16:59] SohaKh opened #23 "Error running test_wsd.py after installation"
I'm trying to start using wsdpy, but with running test_wsd.py or any simple example I get error like "in File lesk.py line 116, in simple_signature
    signature+= list(chain(*[i.lemma_names() for i in ss_hypohypernyms]))
TypeError: 'list' object is not callable" and other errors. I don't know whether I missed something or it is a bug.

[2015-07-08 17:08] alvations commented on #23
This is strange. I've just tested from scratch and it has no problem (http://pastebin.com/raw.php?i=uVFHG6Dw)

Have you installed `nltk`?

[2015-07-08 17:16] SohaKh commented on #23
yes

On Wed, Jul 8, 2015 at 12:08 PM, alvations <notifications@github.com> wrote:

[2015-07-08 17:20] SohaKh commented on #23
I'm on fedora linux. I did yum search nltk, I didn't find it. so I
installed python-nltk.

On Wed, Jul 8, 2015 at 12:16 PM, Soha Khazaeli <sarabk1@tigers.lsu.edu>
wrote:

[2015-07-08 17:38] SohaKh commented on #23
maybe I need to install other libraries. (any idea?)

On Wed, Jul 8, 2015 at 12:20 PM, Soha Khazaeli <sarabk1@tigers.lsu.edu>
wrote:

[2015-07-08 17:44] alvations commented on #23
Which python version are you using?

[2015-07-08 17:48] SohaKh commented on #23
Python 2.7.5

On Wed, Jul 8, 2015 at 12:44 PM, alvations <notifications@github.com> wrote:

[2015-07-08 17:49] alvations commented on #23
can you do this:

[code]

and then re-run

[code]

[2015-07-08 17:52] SohaKh commented on #23
I did. I got same result.

On Wed, Jul 8, 2015 at 12:49 PM, alvations <notifications@github.com> wrote:

[2015-07-08 17:55] alvations commented on #23
Did you get these output from checking the nltk version and wordnet?

[code]

[2015-07-08 17:59] SohaKh commented on #23
version of my nltk is 2.04.
I installed it couple of hours ago. I don't know why it is old.

On Wed, Jul 8, 2015 at 12:55 PM, alvations <notifications@github.com> wrote:

[2015-07-08 18:01] SohaKh commented on #23
How can I install a new version?

On Wed, Jul 8, 2015 at 12:59 PM, Soha Khazaeli <sarabk1@tigers.lsu.edu>
wrote:

[2015-07-08 18:04] alvations commented on #23
I think the yum package in NLTK is stale. Use `pip` install as suggested on http://www.nltk.org/install.html . Can you use `pip install` to install NLTK instead?

First, install http://www.liquidweb.com/kb/how-to-install-pip-on-fedora-21/

[code]

Then install `nltk` and `numpy` using pip:

[code]

Then

[code]

And finally

[code]

[2015-07-08 18:29] SohaKh commented on #23
Thank you so much for providing the pywsd publicly, and for your immediate
help.
Now it's working.

Thanks again,
Soha

On Wed, Jul 8, 2015 at 1:04 PM, alvations <notifications@github.com> wrote:

[2015-07-08 18:30] alvations commented on #23
No problem =)
Have fun with the library!

[2015-07-08 18:30] #23 closed

[2015-07-08 19:48] SohaKh commented on #23
Sorry, I'm bothering you again.
I'm trying to use pywsd in my java application on netbeans. I didn't
succeed yet.
I appreciate, if you can help me on this issue too.

On Wed, Jul 8, 2015 at 1:30 PM, alvations <notifications@github.com> wrote:

[2015-07-09 01:30] alvations commented on #23
@SohaKh, integrating python library calls into netbeans won't be easy. I have personally not done that before but I've done the reverse of integrating java libraries into python and the easiest way was to stream in/output to command line (it's not recommended though).

I'm sorry that I can't help you on the java-python interface but maybe you'll find these helpful: http://stackoverflow.com/questio

[2015-07-17 10:46] #22 closed

[2015-09-08 15:43] Lykkos opened #24 "Question about the sample presented in Usage"
I am just looking into pywsd. It looks very interesting.

I tried the sample with Lesk as per Usage.

I get :
Python 2.7.6 (default, Sep  9 2014, 15:04:36)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

[(2, Synset('deposit.v.02')), (2, Synset('bank.n.09')), .......

put into a bank account

a building in whi

[2015-09-17 08:32] alvations commented on #24
Interesting, I'm getting the same output with NLTK version 3.0.5 too.

[code]

Note that in the example, the `disambiguate` function gets the version 3.5.0

[code]

I think it's because I wrote the original example for lesk when it was NLTK v2.x and I wrote the disambiguate function when it was NLTK v3.x.

I'll change the examples accordingly to NLTK v3.x results.

[2015-09-30 12:54] #24 closed

[2015-12-04 10:50] collawolley commented on #17
Hello. How do i install this toolkit ?
Thanks

[2015-12-04 10:56] alvations commented on #17
@collawolley, for now it's

[code]

[2015-12-04 11:15] collawolley commented on #17
thanks

[2016-01-27 14:12] coiby opened #25 "Is it possible to use dictionaries like Longman, Oxford as sense inventory"
Hi,

I've noticed there are some problems with Wordnet, I've give two examples.

| Word | Context | Definition by Wordnet| Correct sense (Longman)  |
| ---------- | ----------- | ------------ | ------------ |
| reflex | Virtual assistants also require a conscious decision to stop doing the current task and actively seek out the virtual assistant, which is a reflex many users haven't developed. | a

[2016-01-28 12:20] alvations commented on #25
@coiby , to use a custom dictionary, you could use [`original_lesk()`](https://github.com/alvations/pywsd/blob/master/pywsd/lesk.py#L68) where you can input your own dictionary:

[code]

[out]:

[code]

Note that the original lesk is flawed, hence the various version of lesk.

But do note that a dictionary has many sense per word like a synset so when you build your custom dictionary you need 1 ke

[2016-01-29 10:13] arademaker commented on #25
We do have in the Princeton Wordnet a sense for reflex that is similar of the sense from Longman:

http://wnpt.brlcloud.com/wn/synset?id=02522669-a
http://compling.hss.ntu.edu.sg/omw/cgi-bin/wn-gridx.cgi?synset=02522669-a

Same for impetus:
http://wnpt.brlcloud.com/wn/synset?id=11447851-n

Best,

----
Alexandre Rademaker
http://arademaker.gtihub.com
http://researcher.ibm.com/person/br-alexrad

[2016-01-29 10:23] alvations commented on #25
Ah yes, that synset would have been the only adjective indexed with "reflex".  But do note that in NLTK using WordNet v3.0, it's POS is a satellite adjective instead of `a`.

[code]

[2016-01-30 03:10] coiby commented on #25
@alvations Thank you for the comprehensive instructions.

My goal is to accumulate vocabulary words by memorizing new words using spaced repetition learning technique. Given a word and the context, I want to find definition which has the same sense together with the example sentence from the dictionary like Longman automatically. So building flashcards for memorization can also be done automatical

[2016-01-30 04:43] coiby commented on #25
@arademaker  Thank you for providing info about Wordnet.

For another sense of reflex,

it's considered to be a `satellite adjective` by Wordnet as pointed out by @alvations. But Longman or Oxford consider both two senses as nouns. Btw, I'm curious why Wordnet introduce `satellite adjective`.

The reason I think Wordnet doesn't provide proper definition for the first sense is that reflex can be un

[2016-01-30 07:29] alvations commented on #25
@coiby IMHO, `satellite adjective` is a historical issue. This QnA describes it partially: http://stackoverflow.com/questions/18817396/what-part-of-speech-does-s-stand-for-in-nltk-synsets I usually normalize all my `s` -> `a` when I use word sense related features for NLP.

I'm not sure about the license of your dictionary that you've purchased so I can't really commment on that.

As for `pywsd` a

[2016-01-31 11:57] coiby opened #26 "Not compatible with Python 3?"
Hi,

It seems `pywsd` is not compatible with Python 3.

If I run `from pywsd.lesk import simple_lesk` in Python 3, the following error is given:

I manually add pywsd to `path` (`sys.path.append(os.path.join(os.path.dirname(__file__), 'pywsd'))`), another issue occurs:

[2016-01-31 12:03] alvations commented on #26
What is your input text, i.e. what is `sent` and `ambiguous` in `simple_lesk(sent, ambiguous)`? Which version of NLTK have you installed?

[2016-01-31 12:19] coiby commented on #26
Thank you for the fast reply!

I re-check the code and found the second issue was my bad. To avoid a problem before, `ambiguous.encode('ascii', 'ignore')` was used. And NLTK3 doesn't support bytes-like object anymore so an error was thrown.

[2016-01-31 12:22] #26 closed

[2016-01-31 12:22] alvations commented on #26
No problem.

[2016-08-02 13:47] germanferrero commented on #22
Still broken, same error. Downloaded today.

[2016-08-02 14:34] alvations commented on #22
@germanferrero can you post the code and the text you're trying to disambiguate? Otherwise it's hard to know what error you're getting.

[2016-12-12 09:27] cOnjuer opened #27 "max_similarity fails when results are excluded due to "pos" argument"
[code]

The above function call throws an exception

[code]

It works when i remove the pos argument.

[2016-12-12 09:32] alvations commented on #27
This is because the word "creative" doesn't have a noun synset in wordnet:

[code]

But it's true that the error message should be more informative, rather than throwing an `IndexError`

[2016-12-12 09:37] melOncholic commented on #27
Yes I was expecting an empty result but unfortunately I ran into unhandled exception. Let me know if I can contribute

[2017-01-19 07:47] AvinashReddyRangu opened #28 "installation of pywsd via pip"
hi
how to install pywsd for python 3 via pip? I am getting error when i run from pywsd.lesk import simple_lesk
ImportError: No module named 'lesk'

[2017-01-19 07:50] alvations commented on #28
Ah, absolute vs local import issues.

[2017-01-19 07:57] AvinashReddyRangu commented on #28
Hi
i have installed pywsd via pip install pywsd
ran >>> import pywsd
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Mythri\Anaconda3\lib\site-packages\pywsd\__init__.py", line 9, in <module>
    import lesk
ImportError: No module named 'lesk'

please help me to install it

[2017-01-19 08:05] alvations commented on #28
@AvinashReddyRangu it won't work for Python3 until I get it patched up tonight =)

I should work fine for Python2 though. Sorry for the slight delay.

[2017-01-19 08:28] alvations commented on #28
It should be fixed now. Please do:

[code]

On my machine:

[code]

[2017-01-19 08:49] AvinashReddyRangu commented on #28
Thanks for the quick response . Its working now

[2017-01-19 09:31] #28 closed

[2017-02-07 16:37] GMarzinotto opened #29 "Using Pywsd in other languages (french, or others)"
Good afternoon,

I was wondering if it would be possible to adapt this tool to other languages such as French or Spanish.
If it is feasible, could you give me some indications on how to do these modifications?

Thank you very much!

[2017-02-07 20:04] alvations commented on #29
@GMarzinotto it's a good suggestion. But the bulk of the `pywsd` still relies on the various lesk algorithm. To extend the code to other languages we have to first get translations for the glosses (i.e. definitions) for every Synset.

[2017-02-22 07:48] geekan commented on #29
@alvations
Question: how to generate the Synset and glosses?

[2017-02-22 07:58] alvations commented on #29
@geekan Do you mean "how to generate synset and glosses" for other languages? If so, then the first thing is to take synsets from Open Multilingual Wordnet (OMW) that maps the synsets from the other languages to the princeton IDs then somehow translate the glosses from English to the other languages (manually/automatically).

Just a straw poll, **is scaling to other languages more important to imp

[2017-03-08 20:54] Sandy4321 opened #30 "pls help install on windows 'averaged_perceptron_tagger'"
as you recommend I try to install
'averaged_perceptron_tagger'
but windows 10 computer gives error

Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

e:\nltk_data>python -m nltk.downloader
showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

e:\nltk_data>python -m nltk.downloader 'averaged_perceptron_tagger'
[nltk_data] Error

[2017-03-09 00:50] alvations commented on #30
What is your `nltk` version?

[code]

Try upgrading the NLTK version using:

[code]

Perhaps this might help too: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

After upgrading the NLTK version, you should see:

[code]

Do get back if any of the above has helped you to fix the error! =)

[2017-03-24 16:28] michael-aloys opened #31 "similarity_by_path arguments flipped and None returned"
Hi,

I was wondering if here https://github.com/alvations/pywsd/blob/master/pywsd/similarity.py#L22-L23

the senses should be flipped in the second argument of the max function. I.e.:

`return max(wn.path_similarity(sense1,sense2),
wn.path_similarity(sense2,sense1))`

Also, when using Python3 this call tends to crash if there exists no path. Then wn.path_similarity returns None and max(None, 1) th

[2017-04-13 15:10] giahung24 opened #32 "Error with adapted_lesk"
Hi,
I got this error when calling adapted_lesk
[code]

Can you check what is possible reason?
Thank you,

[2017-06-18 15:35] tastyminerals opened #33 "similarity_by_infocontent is not working"
Since you explicitly use `nltk.wordnet` calls I have no idea why you code does not work, but here you go:
[code]
[code]
Unfortunately that's true not only for "Resnik" but for any other sim method.

[2017-06-18 21:56] alvations commented on #33
Which synsets are you comparing?

Also, note that the code is using the `*-add1.dat`, instead of the normal `.dat` file.

[2017-06-19 05:42] tastyminerals commented on #33
The synsets are identical in both cases otherwise my comment would make no sense :)

[2017-06-19 05:55] tastyminerals commented on #33
[code]

[2017-07-12 20:19] bdubbs09 commented on #32
Are you still having the same issue? I am as well. It works perfectly in some cases, then others I get this same error. On Stack it says that there is an issue with the variable not being global, but if thats the case, I'm not sure why it works sometimes and not others.

[2017-07-12 21:14] giahung24 commented on #32
I did not dive into it since then. I gave it up.

[2017-07-12 21:19] bdubbs09 commented on #32
Gotcha. I got it to work... somehow. But the function still gets overwhelmed if you use it in a loop(?). Oh well. Guess I'll find some workaround.

[2017-08-12 09:44] AvivYaish opened #34 "disambiguate bug"
Hi,
the function disambiguate seems to throw an exception when used like this:
`disambiguate(' letters oed much co')`

The exception is:

[2017-09-05 08:40] saieccles commented on #31
Yes having the same issue with Python3, getting TypeError: unorderable. Must be due to the wn.path_similarity returning None.

[2017-09-21 14:14] tastyminerals opened #36 "typo in bibtex citation"
Even though it compiles I think there is a superfluous curly bracke in your pywsd citation.
The below version works only with `\usepackage[square,sort,comma,numbers]{natbib}` (but it turns all your citations into [digit] format which looks really bad)

[code]

Also, an alternative version that does not break the compilation in case `\usepackage{natbib}` used.

[code]

[2017-09-22 00:52] alvations commented on #36
Thanks @tastyminerals for spotting that! Removed it =)

[2017-09-22 00:52] #36 closed

[2018-01-07 12:20] viraja1 opened #37 "random.seed issue"
Right now in baseline.py, the seed is set for the global Random() instance. Therefore the seed will be shared between all other imports of random and will cause issues if the person using pywsd is not aware of it.

https://github.com/alvations/pywsd/blob/d650c4ecb9dac7078a977f045e0d4ab092f648d3/pywsd/baseline.py#L11

Python random Documentation - https://docs.python.org/2/library/random.html

[cod

[2018-03-14 05:49] alvations commented on #32
I've just upgraded the `adapted_lesk()` and the other `*_lesk()` functions. Let me know if you're still having the problems regarding this. The error should not be there anymore.

[2018-03-14 05:56] alvations commented on #34
This should work with the latest version of `pywsd==1.1.1`

[code]

Do a `pip` upgrade:

[code]

[2018-03-14 06:02] alvations commented on #37
@viraja1 Thanks for raising this issue!  The latest version `pywsd>=1.1.2` patched this =)

[2018-03-14 06:02] #37 closed

[2018-03-14 06:03] #34 closed

[2018-03-14 06:03] #32 closed

[2018-03-14 06:05] alvations commented on #30
If you're still having problems with the NLTK data, please take a look at https://stackoverflow.com/questions/22211525/how-do-i-download-nltk-data

[2018-03-14 06:05] #30 closed

[2018-03-25 16:22] kristiank opened #39 "AttributeError: 'TreebankWordTokenizer' object has no attribute 'STARTING_QUOTES'"
After installing pywsd with the command `pip3 install --user pywsd` I get the following error when importing the module in python3.

[code]

[2018-03-25 16:48] alvations commented on #39
Upgrading the `pywsd` should automatically upgrade your NLTK version which would resolve the problem.

[code]

The `-U` option is to upgrade.

[2018-03-25 17:37] kristiank commented on #39
Thanks, now it works!

[2018-03-25 17:37] #39 closed

[2018-07-04 05:35] AkhilRam7 opened #41 "Errors in similarity.py"
`def similarity_by_path(sense1, sense2, option="path"):

    """ Returns maximum path similarity between two senses. """
    if option.lower() in ["path", "path_similarity"]: # Path similaritys
        return max(wn.path_similarity(sense1,sense2),
                   wn.path_similarity(sense1,sense2))`

Error in max(wn.path_similarity(sense1,sense2), wn.path_similarity(sense1,sense2))
finding max b

[2018-07-04 05:39] alvations commented on #41
@AkhilRam7 I'll need a little more details to understand what is the issue and how to resolve it:

- How did you call the function?
- What is the input that you have used for to get an error?
- What is the error in trackback?

[2018-07-04 05:44] AkhilRam7 commented on #41
Replacing  `return max(wn.path_similarity(sense1,sense2), wn.path_similarity(sense1,sense2))` with
`return wn.path_similarity(sense1,sense2`  solved the error

[2018-07-04 06:03] alvations commented on #41
@AkhilRam7 that  doesn't exactly help in understanding what caused the problem and know how to solve the error. Could you to answer the questions below so that I could find out how to resolve the issue?

- How did you call the function?
- What is the input that you have used for to get an error?
- What is the error in trackback?

[2018-07-04 17:19] AkhilRam7 commented on #41
**for j in context_sentence) TypeError: '>' not supported between instances of 'NoneType' and 'float'**
This is the error in terminal when i used max_similarity function.

For few words path_similarity returns **None** .

[2018-07-05 05:52] newbiestatguy opened #42 "lesk ImportError"
I have python 2.7 and i work on windows10 operating system. I installed the `lesk` library as per documentation. When i try to import the module using

`from pywsd.lesk import simple_lesk`

I end up getting error

[code]

[2018-09-24 11:37] suhassumukhv opened #43 "pywsd docstrings"
The implementation is just great! I would love if you also provided a detailed documentation. If this is too much to ask, then writing a one line per parameter in the docstrings would be just great. I'm now fumbling around with all the combinations and understanding what they mean from the outputs.

[2018-09-26 00:12] alvations opened #44 "WSD chapter in SLP"
How many of these can we get implemented? https://web.stanford.edu/~jurafsky/slp3/C.pdf

[2019-01-25 07:31] alvations opened #47 "Getting rid of Python2 =)"
The End Of Life of Python 2.7 is 2020. https://pythonclock.org/

We're going to ahead and peel the band-aid fast... So we're going to fast forward and never support Python 2.7 from March onwards and we'll see our CI test passing again =)

From 1.2 onwards all Python 2.7 compatible code will be wiped out! ETA: 15 Mar 2019

Anyone still depending on Python 2.7, you'll be stuck with the last stable v

[2019-01-25 07:48] alvations commented on #42
Do note that Python2.7 would be deprecated soon... =)

[2019-04-04 20:52] kurupatel opened #48 "Link in Maximizing Similarity in README.md Showing an Error"
Please Update the Link.

[2019-04-10 08:12] deepak8888 opened #49 "Maxsimiliarity Algorithm"
Maxsimiliarity Algorithm is not giving correct results.
Results Obtained:

[('I', 'i', None), ('went', 'go', Synset('travel.v.01')), ('to', 'to', None), ('the', 'the', None), ('bank', 'bank', None), ('to', 'to', None), ('deposit', 'deposit', Synset('deposit.v.02')), ('my', 'my', None), ('money', 'money', None)]

Expected Result:

[('I', 'i', None), ('went', u'go', Synset('sound.v.02')), ('to', 'to

[2019-04-22 19:06] alvations commented on #48
IIRC it should point to Ted Pedersen's work on http://www.umn.edu/~tpederse/Pubs/max-sem-relate.pdf or maybe it's Warin's thesis

[2019-04-24 09:18] alvations commented on #42
No more Python 2 from `pywsd>=1.2.0` onwards =)

[2019-04-24 09:18] #42 closed

[2019-04-24 10:11] alvations commented on #49
@deepak8888 sorry there was some weird bugs upstream in the wordnet reader.

Please upgrade your pywsd version.

[code]

(Note: the new version only supports Python 3)

With the new version, `pywsd>=1.2.0`:

[code]

[2019-04-24 10:11] #49 closed

[2019-04-24 10:19] alvations commented on #47
`pywsd>=1.2.0` no longer supports Python 2.

[2019-04-24 10:19] #47 closed

[2019-04-24 10:19] alvations commented on #48
Fixed =) Thanks @kurupatel for reporting it!

[2019-04-24 10:19] #48 closed

[2019-04-24 10:20] alvations commented on #41
Fixed in the new overhaul =)

Thanks @AkhilRam7 @cyrilou242!

[2019-04-24 10:20] #41 closed

[2019-04-24 10:21] alvations commented on #33
The new overhaul `pywsd>=1.2.0` has a new wordnet info content interface. That should resolve this but yes more documentation is needed for this library.

Closing the issue for now but if something comes up again, do reopen it.

[2019-04-24 10:21] #33 closed

[2019-04-24 10:23] alvations commented on #31
Yes, this is quirky that the wordnet interface in NLTK was doing that for path similarity. There's some additional mechanism put in place to avoid that and no return None but 0, still now that we have the recent overhaul and depends on https://github.com/alvations/wordnet instead of NLTK's interface, we have more control over how to handle these.

Please re-open if this comes up again.

Really sor

[2019-04-24 10:23] #31 closed

[2019-04-24 10:25] alvations commented on #27
This should be fixed now in the new version `pywsd>=1.2.0`. It should be better with the recent overhaul and the None-y outputs will fallback to zero. Also with more control of the new wordnet reader instead of the NLTK.

Please do re-open the issue if it comes up =)

Thanks @cOnjuer for raising the issue!

[2019-04-24 10:25] #27 closed

[2019-04-24 10:25] alvations commented on #9
Totally closing this until I've more time =)

[2019-04-24 10:25] #9 closed

[2019-05-14 17:25] PhilWicke opened #54 "Using wup_similarity on simple_lesk output"
First of all, thank you for this library. I've been using your simple_lesk implementation for a project. But now, after I've installed the latest version of your lib on a different machine, I fail to be able to call the wup_similarity on the object returned by the simple_lesk function.

`example = simple_lesk("This is an example", "example")`
`example.wup_similarity(example)`
`>>>Traceback (most r

[2019-05-14 17:30] PhilWicke commented on #54
You can close this. Using the fix:

`wn.synset(example.name()).wup_similarity(wn.synset(example.name()))`

[2019-05-14 21:46] alvations commented on #54
@PhilWicke Yes, we are using this https://github.com/alvations/wordnet version of the wordnet reader to speed things up now and it's a little different from the NLTK version.

[2019-05-14 21:46] #54 closed

[2019-06-10 15:17] aponty opened #55 "pos mismatch breaks similiarity"
Love the tool! Super helpful. However, it bugs out if you try to run the maxsim disambiguation on a sentence where the wn.sysnet pos doesn't match the NLTK tagged pos.

Try running

    sen = 'these potato chips are great'
    disambiguate(sen, algorithm=maxsim)

and you get an index out of range error because `result` in `max_similarity` in similarity.py is `[]`, because `wn.synsets(ambiguous_wor

[2019-08-30 07:56] elioamicarelli opened #56 "pywsd correctly installed but get error when import (python 3)"
Hi, according with my terminal I have successfully installed pywsd on python 3 (see install log below) however, when I import pyswd from python I get the following error. Can you help me to fix it? Thanks a lot!

###### ERROR LOG #########

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj,

[2019-08-30 08:35] alvations commented on #56
Sorry, the `wn` package didn't update the dataset after the latest upgrade. Could you do a `pip install -U pywsd`, then the `wn-0.0.22` version should be there and `pywsd` should work as expected?

[2019-08-30 12:12] elioamicarelli commented on #56
Perfect! Thanks!

[2019-08-30 12:12] #56 closed

[2019-08-30 22:29] r-reilly opened #57 "simple_lesk bug"
When running `from pywsd.lesk import cached_signatures, simple_lesk`

I get the following error

Warming up PyWSD (takes ~10 secs)... Traceback (most recent call last):
  File "/Users/rreilly/anaconda3/envs/dcom/lib/python3.7/site-packages/pandas/core/indexes/base.py", line 2897, in get_loc
    return self._engine.get_loc(key)
  File "pandas/_libs/index.pyx", line 107, in pandas._libs.index.IndexE

[2019-08-30 22:35] r-reilly opened #58 "disambiguate bug"
Traceback (most recent call last):
  File "/Users/rreilly/anaconda3/envs/-/lib/python3.7/site-packages/pandas/core/indexes/base.py", line 2897, in get_loc
    return self._engine.get_loc(key)
  File "pandas/_libs/index.pyx", line 107, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 131, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_h

[2019-09-01 11:54] alvations commented on #58
@r-reilly seemed like the synset signatures were off when the `wn` packaged was updated. Could you try upgrading `pip install -U pywsd` then try again? It should work now =)

[2019-09-01 11:54] alvations commented on #57
@r-reilly seemed like the synset signatures were off when the `wn` packaged was updated. Could you try upgrading `pip install -U pywsd` then try again? It should work now =)

[2019-09-03 18:28] r-reilly commented on #58
A similar problem with `disambiguate('I am going to run for president')`

KeyError: 'president.n.06'

[2019-09-03 19:01] alvations commented on #58
Try a hard reinstall:

[code]

You should see this :

[code]

[2019-09-03 19:26] r-reilly commented on #58
Is there a way to upgrade the spaCy dependency? it changes results

[2019-09-03 19:37] alvations commented on #58
Currently `pywsd` has no dependency on `spacy`.

Do you mean to use SpaCy as the POS tagger?

[2019-09-03 20:15] r-reilly commented on #58
Interesting- never mind! Somehow my spaCy version changed with an install and I thought it was from this package.

[2019-10-31 03:53] kientuongnguyen opened #59 "IndexError when using disambiguate() with maxsim algorithm"
s = "would sentiment"
disambiguate(s, algorithm=maxsim, similarity_option='path', keepLemmas=True)
# the same with "may sentiment", "might sentiment", "must sentiment", ...
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-54-557b00cf9480> in <module>()
      1 s = "would sentiment"

[2019-11-05 11:57] nDiv opened #60 "Using signatures computed using wordNet 3.0"
Hi,

I installed pywsd using pip in an Anaconda environment. Now I am trying to use the lesk algorithm using signatures computed with WordNet 3.0. To do this I used Precompute Signatures.ipynb where I specified the wordnet_30_dir parameter to generate the signatures. I then copy the generated signatures.pkl file into the lib directory of the installed pywsd and replace the default file that came w

[2019-12-03 15:12] DStickley commented on #28
I'm getting the same error with an up to date version of pywsd:

AttributeError                            Traceback (most recent call last)
<ipython-input-10-2f27a4dd3134> in <module>()
----> 1 import pywsd

/usr/local/lib/python3.6/dist-packages/pywsd/__init__.py in <module>()
     31 from pywsd.allwords_wsd import disambiguate
     32
---> 33 pywsd.lesk.simple_lesk('This is a foo bar sentence',

[2019-12-03 19:22] alvations commented on #28
@DStickley Thank you for reporting the issue!

Please try to upgrade the `pywsd` again, `pip install -U pywsd`, you should see version 1.2.4 that solves this issue for Python 3.6

Example: https://colab.research.google.com/drive/1X8ulJfd5Mqy4KGPZTL5A5vAcsA5sJ4BU

[2019-12-05 07:08] BigBossAnwer commented on #59
Getting the same error with a similar kind of usage in python 3.8, pywsd 1.2.4
for example:
[code]
Gives an index out of bounds error in pywsd.similarity.max_similarity()

Scotch-tape patch with:
[code]
in pywsd.similarity
where
[code]
is the "fix"

Doesn't really resolve the underlying issue though

[2020-02-13 09:36] lambdaofgod opened #61 "Support for other languages"
In NLTK there exist classes that support loading WordNet-like objects for other languages. Where does your library depend on WordNet?

If the dependency is explicit, it might be possible to easily extend your work for other languages.

[2020-11-05 03:50] goodmami opened #62 "Notice: please pin wn dependency"
I'm preparing to release wn 0.1.0 on PyPI and, for the most part, it will not be compatible with the current release (0.0.23). The requirements.txt file in this repository says `wn>=0.0.19`, meaning it will pull a later version if one is available. I suggest pinning this to `wn==0.0.23` so things won't break. When the new release has reached feature parity with the old one (in particular, see http

[2020-11-14 18:17] JoshuaMathias commented on #18
Is there any reliable evaluation of these methods already done? If one needed to make a quick choice based on quality and not efficiency, what would you recommend?

[2020-12-06 15:52] gavishpoddar commented on #62
+1

[2020-12-07 01:14] goodmami commented on #62
@alvations it looks like this might be starting to affect people. I created a PR which pins the dependency in `requirements.txt` and `setup.py`.

[2021-01-19 19:29] davedgd opened #64 "version inconsistency (GitHub vs. PyPI)"
I am a bit confused about the GitHub version vs. PyPI. According to the current GitHub code, the latest version is 1.2.1 (as of 2021-19-01): https://github.com/alvations/pywsd/commit/4c12394c8adbcfed71dd912bdbef2e36370821bf

However, on PyPI, the current version is 1.2.4: https://pypi.org/project/pywsd/#history

I haven't bothered to go through to diff the code, but is it possible to update the re

[2021-01-25 06:27] ruolanyang commented on #28
i get the error : ImportError: cannot import name 'WordNet'  when trying to "from pywsd.lesk import simple_lesk"

[2021-02-09 09:58] hoperiver commented on #58
I got this:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "E:\GitHub\alvations-pywsd\pywsd\__init__.py", line 14, in <module>
    from wn import WordNet
ImportError: cannot import name 'WordNet' from 'wn' (C:\Users\Xilan\AppData\Roaming\Python\Python39\site-packages\wn\__init__.py)

After I reinstalled pywsd. Seems I have gotten the wrong wn module. Any advice? T

[2021-03-11 11:31] TonyZhang03 opened #65 "hit ImportError: cannot import name 'WordNet' from 'wn'"
When running the example code given, hit above error.
![image](https://user-images.githubusercontent.com/72189031/110781072-683ae300-82a0-11eb-904d-9370b5f500f6.png)

[2021-03-15 05:59] frankTian92 commented on #65
I got the same error of "cannot import name 'WordNet' from 'wn'". And one more question, what is the wn? I do not find the definition of wn.

[2021-03-15 06:29] frankTian92 commented on #65
I have solved this problem. It is because the version of 'wn' package is to high. I have degrade 'wn' to the version of 0.0.23, and it works

[2021-03-28 18:55] sheqiZ commented on #30
upgrading nlkt and downloading resources work!

[2021-04-20 14:17] #62 closed

[2021-06-04 04:54] goodmami commented on #65
This was fixed in 20885bf347e4016174de8a0eaf593d7a3f37b28c but, currently, only if you install from the source code. The last release on GitHub and version on PyPI do not include the change.

[2021-07-01 13:00] timgates42 opened #66 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine pywsd/allwords_wsd.py and observe `sentnece`, however expect to see `sentence`.
- Examine merlin/utils.py and observe `perpendicualar`, however expect to see `perpendicular`.
- Examine merlin/simple_data_set.py and observe `dimentional`, however expect to see `dimensional`.
- Examine pywsd/lesk.py and observe `def

[2021-07-02 20:47] timgates42 opened #67 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine pywsd/allwords_wsd.py and observe `sentnece`, however expect to see `sentence`.
- Examine merlin/utils.py and observe `perpendicualar`, however expect to see `perpendicular`.
- Examine merlin/simple_data_set.py and observe `dimentional`, however expect to see `dimensional`.
- Examine pywsd/lesk.py and observe `def

[2021-07-02 20:50] #67 closed

[2021-07-02 20:59] arademaker commented on #25
Actually, this is a decision for encoding PWN in text files. See https://wordnet.princeton.edu/documentation/wndb5wn and https://wordnet.princeton.edu/documentation/lexnames5wn. The synset type is not the syntactic category or part-of-speech as we call it nowadays. This is confusing because the same values are used: a, v, n, and r (but nor s). Many adjectives in PWN are organized into clusters and

[2021-07-16 17:30] YashMeh commented on #65
I solved this issue by specifying the pywsd version for python3
[code]

[2021-09-27 17:14] arademaker opened #69 "partially disambiguated sentence"
Can we disambiguate words in a context partially disambiguate?

Imagine a dataset with some sentences with some words annotated with senses and we want to disambiguate only the words not annotated considering the surrounding senses. I know that UKB allows it. I imagine that PyWSD is providing a common API to the WSD algorithms and except for the baselines, that don't consider context, all the rema

[2021-10-07 16:23] arademaker opened #70 "PyWSD with `wn`"
Hi @goodmami and @alvations , is pywsd ready to be used with https://github.com/goodmami/wn? If so, how can we do that? I am trying to write a tutorial for the users of our Portuguese Wordnet at http://github.com/own-pt/openWordnet-PT.

[2021-11-10 15:32] Cbhihe commented on #65
This exact same issue is still hot.
@YashMesh's suggestion above helps you get out of the rut even though the working version is not the latest when installing from PyPI.org with `python -m pip install pywsd==1.0.2`.

(Thanks to the code authors and contributors for making this available.)

[2021-11-10 16:48] goodmami commented on #65
@Cbhihe I am not a maintainer of this project, so I cannot say.

@alvations any chance we can get a new release on PyPI? It only needs to be the current code on GitHub plus a new version (also see #64; the 1.2.4 release on PyPI is from 2019 but the version string in the Git repository was only changed to 1.2.4 earlier this year). As mentioned on https://github.com/alvations/pywsd/pull/68#issuecomm

[2021-11-13 10:16] #61 closed

[2021-12-12 18:19] mihal277 opened #72 "Cached signatures could be replaced by json to improve performance"
Hi everyone.
I'm working with `pywsd`, which I find to be a very helpful library.

The issue I'm having is loading time and memory usage.
I'm using mostly `adapted_lesk`. On my computer it takes around 2.5 seconds to warm up the lib and then it uses more than a gigabyte of ram.

I've made some experiments and I've noticed that the longest thing when loading the library is `pd.read_pickle(signature

[2022-03-13 14:52] mhelal commented on #28
I am getting the same error, please fix

[2022-07-10 02:31] danmincu commented on #24
I just start looking into this library. I have a question about `disambiguate` function and the example provided as a sample.
I played with the parameters and only _one combination_ was close to the proper meaning of
"I went to the bank to deposit my money"
Often, as seen above, the "went" would be resolved as `run_low.v.01` and bank would resolve to the casino term, etc.

This was the _winer_ com

[2022-07-29 01:59] AliFadaei90 commented on #65
Worked

[2022-07-29 16:19] goodmami commented on #65
@alvations pretty please?

[2022-08-16 18:27] lawal-hash opened #73 "ModuleNotFoundError: No module named 'BeautifulSoup'"
<img width="747" alt="Screenshot 2022-08-16 at 19 26 13" src="https://user-images.githubusercontent.com/65229976/184951983-e2d872ca-fb60-442a-a82d-e356888170e7.png">